extends layout

block content
	center
		h1= title

	//CHART WRAPPER
	#chartWrapper
		//BOOK LIST
		#booksReadList
			table
				thead
					th Name
					th Books Read
				tbody
		// /BOOK LIST
	// /CHART WRAPPER

  
