extends layout

block content
	center
		h1= title
		p Check out the stats!!

		// WRAPPER
		#wrapper


			// Challege 1
			#challenge1
				h2 Number of Users: #{locals.numUsers}

			

		// /WRAPPER
  
