extends layout
block content


	style.
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		li {
			display: inline;
			padding: 10px;
		}

	ul
		li
			button#btnProf Profile
		li
			button#btnLogout Logout

	//WRAPPER
	#wrapper

		center
			h1 A2F Winter Reading Challenge
			p Check out the stats!!

	
		//BAR GRAPH
		h2 Average Books Read

		
		// /BAR GRAPH

	
		//CFC
		h2 Case for Christmas
		#cfcList
			table
				thead
					th Read Case for Christmas
				tbody
		// /CFC


		//SVM
		h2 Students vs Mike Kang
		#svmList
			table
				thead
					th Average books read by students
					th Books read by Mike
				tbody
		// /SVM

	// /WRAPPER