extends layout
block content


	style.
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		li {
			display: inline;
			padding: 5px;
		}

	ul
		li
			button#btnProf Profile
		li
			button#btnLogout Logout

	

	center
		h1 A2F Winter Reading Challenge
		p Check out the stats!!
		<span id="currId" rel="#{id}"></span>

	//WRAPPER
	#wrapper
	
		//BAR GRAPH
		#barGraph
		h2 Average Books Read

		h4 Freshmen Brothers: <span id='froshB'></span>

		h4 Freshmen Sisters: <span id='froshS'></span>

		h4 Sophomore Brothers: <span id='sophB'></span>

		h4 Sophomore Sisters: <span id='sophS'></span>

		h4 Junior Brothers: <span id='juniorB'></span>

		h4 Junior Sisters: <span id='juniorS'></span>

		h4 Senior Brothers: <span id='seniorB'></span>

		h4 Senior Sisters: <span id='seniorS'></span>
		
		// /BAR GRAPH

	
		//CFC
		h2 Case for Christmas
		#cfcList
			table
				thead
					th Read Case for Christmas
				tbody
		// /CFC


		//SVM
		h2 Students vs Mike Kang
		#svmList
			table
				thead
					th Average books read by students
					th Books read by Mike
				tbody
		// /SVM

	// /WRAPPER