extends layout
block content
	center
		h1= title
		p Check out the stats!!

	//WRAPPER
	#wrapper

		//BAR GRAPH
		h2 Insert Working Bar Graph Here!!!
		#barGraph
			
		// /BAR GRAPH

		//CFC
		h2 Case for Christmas
		#cfcList
			table
				thead
					th Read Case for Christmas
				tbody
		// /CFC


		//SVM
		h2 Students vs Mike Kang
		#svmList
			table
				thead
					th Average books read by students
					th Books read by Mike
				tbody
		// /SVM

	// /WRAPPER