extends layout
block content


	style.
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		li {
			display: inline;
			padding: 5px;
		}

	ul
		li
			button#btnProf Profile
		li
			button#btnLogout Logout

	center
		h1 A2F Winter Reading Challenge
		p Check out our list of <a href="/books/recommendedbooks" class="linkrecommendedbooks" rel="Recommended">Recommended Books!</a>
		<span id="currId" rel="#{id}"></span>

	//WRAPPER
	#wrapper
		center
			//BAR GRAPH
			#barGraph
			h2 Average Books Read

			h4 Freshmen Brothers: <span id='froshB'></span>

			h4 Freshmen Sisters: <span id='froshS'></span>

			h4 Sophomore Brothers: <span id='sophB'></span>

			h4 Sophomore Sisters: <span id='sophS'></span>

			h4 Junior Brothers: <span id='juniorB'></span>

			h4 Junior Sisters: <span id='juniorS'></span>

			h4 Senior Brothers: <span id='seniorB'></span>

			h4 Senior Sisters: <span id='seniorS'></span>

			// TO ADD POST GRADS TO BAR GRAPH
			//h4 Post-Grad Brothers: <span id='postgradB'></span>

			//h4 Post-Grad Sisters: <span id='postgradS'></span>
			
			// /BAR GRAPH

		//CHART WRAPPER
		#chartWrapper
			//CFC
			#cfcList
				h2 Case for Christmas
				table
					thead
						th Read Case for Christmas
					tbody
			// /CFC


			//SVM
			#svmList
				h2 Students vs Mike Kang
				table
					thead
						th Average books read by students
						th Books read by Mike
					tbody
			// /SVM
		// /CHART WRAPPER

	// /WRAPPER