extends layout

block content
	center
		h1= title
		h3 Let's make Mike shave his head!

		// WRAPPER
		#wrapperRegister


			// LOGIN
			h2 Please Login
			#login
				input#loginUserName(type='text', placeholder='Username')
				br
				input#loginPassword(type='password', placeholder='Password')
				br
				button#btnLogin Login
			// /LOGIN

			h4 Don't have an account? <a href="/users/register" class="linkregisteruser" rel="Register">Register</a>

  
