extends layout
block content

	style.
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			float: right;
		}
		li {
			display: inline;
			padding: 10px;
		}

	ul
		li
			a(href='/home') Home
		li
			a(href='/') Logout

	h1 Full Name.
	
	// PROFILE WRAPPER
	#profileWrapper

		// USER INFO
		#userInfo
			h2 User Info
			p
				strong Username:
				|  <span id='username'></span>
				br
				strong Email:
				|  <span id='userEmail'></span>
				br
				strong Year:
				|  <span id='userYear'></span>
				br
				strong Gender:
				|  <span id='userGender'></span>
		// /USER INFO

		// BOOK TABLE
		#bookTable
			h2 Books Read
			table
				thead
					th Title
					th Author
				tbody
		// / BOOK TABLE

		// ADD BOOK
		#addBook
		h4 Add a new book!
			form(action='/profile',method='post')
				p
					label 
						| Full Name 
						input#bkTitle(type='text',name='user[name]',placeholder='Full Name',required)
				p
					label 
						| Username 
						input#bkAuthor(type='text',name='user[name]',placeholder='Username',required)
			button#btnAddBook Create Account

	// /PROFILE WRAPPER