extends layout

block content
	center
		h1= title

	//CHART WRAPPER
	#chartWrapper
		//BOOK LIST
		#recBookList
			table
				thead
					th Category
					th Title
					th Author
				tbody
		// /BOOK LIST
	// /CHART WRAPPER

  
