body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

#profileWrapper {
	padding-left:312px;
	position:relative;
}

#bookTable {
	margin:0 0 30px 0;
}
	#bookTable table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#bookTable table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#bookTable table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#bookTable table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}
