body {
  padding-left: 30px;
  font: 16px Times, Arial, sans-serif;
  background-image: url("fallingSnow4.jpg");
  background-color: #c2c2d6
}

h2 {
   margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}


#userInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#userInfo p {
		padding:15px;
		border:1px solid #47476b;
		background:#ccebff;
	}

#profileWrapper {
	padding-left:312px;
	position:relative;
}

#chartWrapper {
	padding-left:312px;
	position:relative;
}

#bookTable {
	margin:0 0 30px 0;
}
	#bookTable table {
		border-collapse:separate;
		border-spacing: 0px;
		border: 0.5px solid #47476b;
		background:#CCC;
	}
		#bookTable table th {
			background:linear-gradient(to left, rgba(0,153,255,0.25), rgba(0,153,255,1));
			border: 0.5px solid #47476b;
			font-weight:600;
			padding:10px 20px;
			text-align:left;
		}
		#bookTable table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#bookTable table td {
				background:#ccebff;
				padding:5px 10px;
				border: 0.5px solid #47476b;
				text-align:left;
			}

#wrapper {
	 padding-left:200px;
	 padding-top: 5px;
	 position:relative;
}

#cfcList {
	margin:0 0px 30px 0;
	top: 0; left: 0;
	position: absolute;
}
	#cfcList table {
		border-collapse:separate;
		border-spacing:0px;
		border: 0.5px solid #47476b;
		background:#CCC;
	}
		#cfcList table th {
			background:linear-gradient(to left, rgba(0,153,255,0.25), rgba(0,153,255,1));
			border: 0.5px solid #47476b;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
			#cfcList table tbody {
				padding:0; margin:0;
				border-collapse:collapse;
				border-spacing:0px;
			}
				#cfcList table td {
					background:#ccebff;
					border: 0.5px solid #47476b;
					padding:5px 10px;
					text-align:center;
				}

#svmList {
	margin:0 0 30px 0;
}
	#svmList table {
		border-collapse:separate;
		border-spacing:0px;
		border: 0.5px solid #47476b;
		background:#CCC;
	}
		#svmList table th {
			background:linear-gradient(to left, rgba(0,153,255,0.25), rgba(0,153,255,1));
			border: 0.5px solid #47476b;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
			#svmList table tbody {
				padding:0; margin:0;
				border-collapse:collapse;
				border-spacing:0px;
			}
				#svmList table td {
					background:#ccebff;
					border: 0.5px solid #47476b;
					padding:5px 10px;
					text-align:center;
				}																							       

fieldset {
	 border:0;
	 padding:0; margin:0;
}






/*body, html {
  height: 100%;
}*/

/*body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#q-graph {
  display: block;
  position: relative;
  width: 800px;
  height: 500px;
  margin: 1.1em 0 0;
  padding: 10;
  padding-top: 10px;
  padding-bottom: 100px;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 800px;
  text-transform: uppercase;
  letter-spacing: .5px;
  top: -40px;
  position: relative;
  z-index: 20;
  font-weight: bold;
}

#q-graph tr, #q-graph th, #q-graph td {
  position: absolute;
  bottom: 0;
  width: 100px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#q-graph td:hover {
  background-color: #4d4d4d;
  opacity: .9;
  color: white;
}

#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}

#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}

#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}

#q-graph thead th.paid {
  top: 2.75em;
  line-height: 2;
  left: 0;
}

#q-graph tbody tr {
  height: 500px;
  padding-top: 2px;
  border-right: 1px dotted #C4C4C4;
  color: #AAA;
}

#q-graph #fb {
  left: 0;
}

#q-graph #fs {
  left: 100px;
}

#q-graph #sob {
  left: 200px;
}

#q-graph #sos {
  left: 300px;
}

#q-graph #jb {
  left: 400px;
}

#q-graph #js {
  left: 500px;
}

#q-graph #sb {
  left: 600px;
}

#q-graph #ss {
  left: 700px;
  border-right: none;
}

#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: #333;
}

#q-graph .bar {
  width: 75px;
  border: 1px solid;
  border-bottom: none;
  color: #000;
}

#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: .4;
}

#q-graph .read {
  left: 13px;
  background-color: #39cccc;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 800px;
  height: 400px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #C4C4C4;
  width: 800px;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}*/
